#type: string, int, long

#age
age:int

#name
#name:string

#city
#city:string

#hobbies
#hobbies:string

#idol
#idol:string

#food
#food:string

#father
#father:string

#mother
#mother:string

#spouse
#spouse:string

#animal
#animal:string

#plant
#plant:string

#weixin
#weixin:string

#sex
#sex:string

#address
#address:string

#score
#score:int
